# Скомпилированные файлы и билды (для всех подмодулей сразу)
**/build/
**/target/
*.jar
*.war

# Системные файлы сборщика Gradle
**/.gradle/
/gradle/
gradlew
gradlew.bat

# Конфигурации IDE (IntelliJ IDEA)
.idea/
*.iml
*.iws

# Секреты и локальные файлы
passwords.txt


# Отчеты безопасности
SecureReports/
gitleaks-report.json